#!/usr/bin/expect -f

# Thanks to Glenn Jackman on stack overflow for helping me with this script

set timeout -1
spawn /opt/src/{{ wowza_installer }}

expect {
    -gl "* to continue:" { send -- "\r"; exp_continue }
    -ex "Do you accept this agreement"
}
send -- "y\r"

expect -gl "License Key:"
send -- "{{ license_key }}\r"
expect -gl "User Name: "
send -- "{{ user_name }}\r"
expect -gl "Password: "
send -- "{{ password }}\r"
expect -gl "Confirm Password: "
send -- "{{ password }}\r"
expect -ex "Start Wowza Streaming Engine automatically"
send -- "y\r"
expect -ex "Do you want to continue?"
send -- "y\r"

expect eof